.product{
 
 margin-left: 110px;
 margin-right: 110px;
 margin-top: 85px;
 display: flex;
 justify-content: space-between;
 padding-bottom: 64px;
  
}

.imageDiv {
    width: 598px;
    height: 484px;
    margin-left: 19px;
}
.firstRow{
    margin-left: 110px !important;
    margin-right: 110px !important;
}

.content-title{
    font-family: 'Bodoni Moda';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: #1E1E1E;
}
.product-subdiv1{
    /* width: 49.5%; */
}
.divContent{
    /* width: 496px; */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #1E1E1E;
}
.product-subdiv2{
    /* width: 49.5%; */
}
.imageDiv{
    width: 598px;

    
}
 
@media only screen and (max-width: 600px) {
    .product{
 
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 36px;
        display: block;
        background: #F5F5F4 !important;
        /* padding-bottom: 64px; */
         
       }
       .product-subdiv1{
        margin-left: 16px;
        margin-right: 16px;
       }
       .imageDiv {
        width: 100%;
        height: 484px;
        margin-left: 0px;
    }
    .product-subdiv2{
        margin-left: 16px;
        margin-right: 16px;
    }
    }